* {
    margin: 0px;
    padding: 0px;
}

/* nav and footer */

.nav-ovl {
    position: fixed;
    width: 100%;
    height: 180px;
    top: 0px;
    z-index: 2;
    pointer-events: none;
    background: linear-gradient(to bottom, rgb(0,0,0,1), rgba(0,0,0,0));
}

.nav-line {
    position: fixed;
    width: 100%;
    height: 8px;
    top: 0px;
    z-index: 3;

    background: #FFFFFF;
}

.nav-bump-left {
    position: fixed;
    width: 196px;
    height: 36px;
    left: 0px;
    top: 8px;
    z-index: 3;
}

.nav-bump-right {
    position: fixed;
    width: 196px;
    height: 36px;
    right: 0px;
    top: 8px;
    z-index: 3;
}

.center-cont {
    position: fixed;
    width: 376px;
    height: 85px;
    left: calc(50% - 188px);
    top: 32px;
    z-index: 3;
}

.nav-logo {
    position: absolute;
    width: 120px;
    height: 100%;
    left: 0px;
}

.nav-logo-mobile {
    display: none;
}

.nav-logo:hover {
    cursor: pointer;
}

.nav-socmed { 
    position: absolute;
    width: 224px;
    height: 48px;
    right: 0px;
    top: calc(50% - 24px);
}

.nav-socmed-mobile {
    display: none;
}

.nav-icon {
    position: relative;
    width: 48px;
    height: 100%;
    margin-right: 40px;
    float: left;
}

.nav-icon:nth-last-child(1) {
    margin-right: 0px;
}

.nav-icon:hover {
    cursor: pointer;
}

.ftr-ovl {
    position: fixed;
    width: 100%;
    height: 180px;
    bottom: 0px;
    z-index: 2;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgb(0,0,0,0), rgba(0,0,0,1));
}

.ftr-line {
    position: fixed;
    width: 100%;
    height: 8px;
    bottom: 0px;
    z-index: 3;

    background: #FFFFFF;
}

.ftr-bump-left {
    position: fixed;
    width: 196px;
    height: 36px;
    left: 0px;
    bottom: 8px;
    z-index: 3;
}

.ftr-bump-right {
    position: fixed;
    width: 196px;
    height: 36px;
    right: 0px;
    bottom: 8px;
    z-index: 3;
}

/* head */

.bg {
    position: absolute;
    width: 100%;
    height: 3072px;

    background-color: #260A73;
}

.bg-element {
    position: absolute;
    width: 100%;
    height: 1500px;
    top: 253px;
}

.bg-element2 {
    position: absolute;
    width: 100%;
    height: 1300px;
    bottom: 0px;
}

.bg-head {
    position: absolute;
    width: 100%;
    height: 772px;
    top: 0px;
    background-color: white;
}

.bg-head-ovl {
    position: absolute;
    width: 100%;
    height: 232px;
    bottom: 0px;
    background-image: linear-gradient(to bottom, rgb(0,0,0,0), rgba(0,0,0,1));
}

.teams-ovl {
    position: absolute;
    width: 100%;
    height: 232px;
    top: 772px;
    background: linear-gradient(to bottom, rgb(0,0,0,1), rgba(0,0,0,0));
}

/* teams */

.team-ttl {
    position: absolute;
    width: 104px;
    height: 39px;
    left: 108px;
    top: 845px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    text-align: left;
    color: #FFFFFF;
}

.team-list-cont {
    position: absolute;
    width: 184px;
    height: 440px;
    left: 108px;
    top: 931px;
}

.team-list-cont-mobile {
    display: none;
}

.team-line {
    position: absolute;
    width: 4px;
    height: 440px;
    left: 316px;
    top: 928px;
    background-color: white;
}

.team-txt {
    position: relative;
    width: 100%;
    height: 24px;
    margin-bottom: 24px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: right;
    color: #FFFFFF;
}

.team-txt.active {
    color: rgb(104, 55, 238);
}

.team-txt:hover {
    cursor: pointer;
    color: rgb(104, 55, 238);
}

.team-txt:nth-last-child(1) {
    margin-bottom: 0px;
}

.team-cont {
    position: absolute;
    width: 1000px;
    height: 441px;
    left: 348px;
    top: 928px;
    overflow-x: hidden;
}

.team-inner {
    position: absolute;
    height: 100%;
    display: inline-flex;
}

.team-card {
    position: relative;
    width: 280px;
    height: 100%;
    margin-right: 32px;
    background-color: white;
    float: left;
}

.team-card:nth-last-child(1) {
    margin-right: 0px;
}

.img-cont {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 360px;
    object-fit: cover;
}

img {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 -20%;
}

.team-card-ovl {
    position: absolute;
    width: 100%;
    height: 200px;
    bottom: 120px;
    background-image: linear-gradient(to bottom, rgb(0,0,0,0), rgba(0,0,0,1));
}

.team-card-black {
    position: absolute;
    width: 100%;
    height: 120px;
    bottom: 0px;
    background-color: black;
}

.team-card-ttl {
    position: absolute;
    width: calc(100% - 30px);
    height: 30px;
    right: 0px;
    top: 250px;

    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    text-align: left;

    color: #FFFFFF;
}

.team-card-aka {
    position: absolute;
    width: calc(100% - 30px);
    height: 16px;
    right: 0px;
    top: 276px;

    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    text-align: left;

    color: #FFFFFF;
}

.team-card-txt {
    position: absolute;
    width: calc(100% - 60px);
    height: 41px;
    left: 30px;
    top: 300px;

    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    text-align: left;
    line-height: 18px;
    color: #FFFFFF;
}

.role-ttl {
    position: absolute;
    width: 20px;
    height: 12px;
    left: 30px;
    top: 372px;
    
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    
    color: #FFFFFF;
}

.role-txt {
    position: absolute;
    width: calc(50% - 30px);
    height: 15px;
    left: 30px;
    top: 395px;
    
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 500;
    font-size: 10px;
    
    color: #FFFFFF;
}

.nat-ttl {
    position: absolute;
    width: 50px;
    height: 12px;
    left: 147px;
    top: 372px;

    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;

    color: #FFFFFF;
}

.nat-logo {
    position: absolute;
    width: 22px;
    height: 22px;
    left: 147px;
    top: 395px;
}

.team-card-line {
    position: absolute;
    width: 100%;
    height: 7px;
    left: 0px;
    bottom: 0px;

    background-color: #916FEC;
}

/* tournament */

.tour-ttl {
    position: absolute;
    width: 322px;
    height: 39px;
    left: 108px;
    top: 1667px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    text-align: left;
    color: #FFFFFF;
}

.tour-cont {
    position: absolute;
    width: 1250px;
    height: 440px;
    left: 108px;
    top: 1750px;
    overflow-x: hidden;
}

.tour-inner {
    position: absolute;
    height: 100%;
    display: inline-flex;
}

.tour-card {
    position: relative;
    width: 324px;
    height: 100%;
    float: left;
    background-color: #232323;
    margin-right: 32px;
}

.tour-card-line {
    position: absolute;
    width: 100%;
    height: 8px;
    top: 0px;

    background-color: #916FEC;
}

.tour-card-logo {
    position: absolute;
    width: 85px;
    height: 30px;
    left: calc(50% - 42.5px);
    top: 20px;
}

.tour-logo {
    position: absolute;
    width: 209px;
    height: 209px;
    left: calc(50% - 104.5px);
    top: 60px;
}

.tour-card-ttl {
    position: absolute;
    width: 152px;
    height: 29px;
    left: 26px;
    top: 282px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: left;
    color: #FFFFFF;
}

.tour-card-txt {
    position: absolute;
    width: 275px;
    height: 95px;
    left: 26px;
    top: 315px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    color: #FFFFFF;
}

/* about */

.about-ttl {
    position: absolute;
    width: 203px;
    height: 39px;
    left: 108px;
    top: 2589px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    text-align: left;
    color: #FFFFFF;
}

.about-txt {
    position: absolute;
    width: 459px;
    height: 135px;
    left: 108px;
    top: 2666px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    line-height: 24px;
    color: #FFFFFF;
}

.sponsor-ttl {
    position: absolute;
    width: 132px;
    height: 39px;
    left: 1126px;
    top: 2589px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    text-align: right;
    color: #FFFFFF;
}

.sponsor-logo {
    position: absolute;
    width: 371px;
    height: 74px;
    left: 887px;
    top: 2681px;
}

@media (max-width: 600px) {
    /* nav and footer */
    .nav-bump-left {
        display: none;
    }

    .center-cont {
        display: none;
    }

    .nav-logo-mobile {
        position: fixed;
        width: 88px;
        height: 63px;
        left: 32px;
        top: 32px;
        display: block;
        z-index: 3;
    }

    .nav-logo-mobile:hover {
        cursor: pointer;
    }

    .nav-socmed-mobile {
        position: fixed;
        width: 172px;
        height: 39px;
        right: 18px;
        top: 56px;
        display: block;
        z-index: 3;
    }
    
    .nav-icon {
        position: relative;
        width: 39px;
        height: 100%;
        margin-right: 24px;
        float: left;
    }
    
    .nav-icon:nth-last-child(1) {
        margin-right: 0px;
    }
    
    .nav-icon:hover {
        cursor: pointer;
    }

    .ftr-bump-right {
        display: none;
    }

    /* head */

    .bg {
        position: absolute;
        width: 100%;
        height: 3250px;
    
        background-color: #260A73;
    }
    
    .bg-element {
        position: absolute;
        width: 100%;
        height: 700px;
        top: 500px;
    }
    
    .bg-element2 {
        position: absolute;
        width: 100%;
        height: 700px;
        bottom: 200px;
    }
    
    .bg-head {
        height: 567px;
    }
    
    .teams-ovl {
        top: 567px;
    }

    /* teams */

    .team-ttl {
        position: absolute;
        width: 104px;
        height: 39px;
        left: calc(50% - 52px);
        top: 591px;
    
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        text-align: left;
        color: #FFFFFF;
    }
    
    .team-list-cont {
        display: none;
    }

    .team-list-cont-mobile {
        position: absolute;
        width: 487px;
        height: 22px;
        left: calc(50% - 243.5px);
        top: 675px;
        display: block;
        overflow-x: scroll;
    }

    .team-cont-inner {
        position: absolute;
        height: 100%;
        display: inline-flex;
    }

    .img-cont {
        height: 288px;
    }
    
    .txt-ml {
        position: relative;
        width: 140px;
        height: 100%;
        margin-bottom: 0px;
        margin-right: 24px;

        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        color: #FFFFFF;
    }

    .txt-ml:hover {
        cursor: pointer;
        color: rgb(104, 55, 238);
    }

    .txt-ml.active {
        color: rgb(104, 55, 238);
    }

    .txt-wr {
        position: relative;
        width: 74px;
        height: 100%;
        margin-bottom: 0px;
        margin-right: 24px;

        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        color: #FFFFFF;
    }

    .txt-wr:hover {
        cursor: pointer;
        color: rgb(104, 55, 238);
    }

    .txt-wr.active {
        color: rgb(104, 55, 238);
    }

    .txt-ff {
        position: relative;
        width: 76px;
        height: 100%;
        margin-bottom: 0px;
        margin-right: 24px;

        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        color: #FFFFFF;
    }

    .txt-ff:hover {
        cursor: pointer;
        color: rgb(104, 55, 238);
    }

    .txt-ff.active {
        color: rgb(104, 55, 238);
    }

    .txt-v {
        position: relative;
        width: 74px;
        height: 100%;
        margin-bottom: 0px;
        margin-right: 24px;

        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        color: #FFFFFF;
    }

    .txt-v:hover {
        cursor: pointer;
        color: rgb(104, 55, 238);
    }

    .txt-v.active {
        color: rgb(104, 55, 238);
    }

    .txt-pes {
        position: relative;
        width: 50px;
        height: 100%;
        margin-bottom: 0px;
        margin-right: 24px;

        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        color: #FFFFFF;
    }

    .txt-pes:hover {
        cursor: pointer;
        color: rgb(104, 55, 238);
    }

    .txt-pes.active {
        color: rgb(104, 55, 238);
    }

    .txt-pubgm {
        position: relative;
        width: 50px;
        height: 100%;
        margin-bottom: 0px;

        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        color: #FFFFFF;
    }

    .txt-pubgm:hover {
        cursor: pointer;
        color: rgb(104, 55, 238);
    }

    .txt-pubgm.active {
        color: rgb(104, 55, 238);
    }

    .team-line {
        position: absolute;
        width: 487px;
        height: 4px;
        left: calc(50% - 243.5px);
        top: 721px;
        background-color: white;
    }

    .team-cont {
        position: absolute;
        width: 487px;
        height: 648px;
        left: calc(50% - 243.5px);
        top: 767px;
    }

    .team-inner {
        position: absolute;
        width: 745px;
        height: 100%;
        display: block;
    }

    .team-card {
        position: relative;
        width: 229px;
        height: 312px;
        margin-bottom: 24px;
        margin-left: 29px;
        margin-right: 0px;
    }

    .team-card:nth-child(1) {
        margin-left: 0px;
    }

    .team-card:nth-child(4) {
        margin-left: 0px;
    }

    .team-card-ttl {
        position: absolute;
        width: calc(100% - 22px);
        height: 21px;
        left: 22px;
        top: 213px;
    }
    
    .team-card-aka {
        position: absolute;
        width: calc(100% - 22px);
        height: 11px;
        left: 22px;
        top: 236px;
    }

    .team-card-txt {
        display: none;
    }

    .team-card-black {
        height: 80px;
    }

    .team-card-ovl {
        bottom: 80px;
    }

    .role-ttl {
        position: absolute;
        width: 30px;
        height: 6px;
        left: 22px;
        top: 260px;

        font-size: 8px;
    }

    .role-txt {
        width: 56px;
        height: 10px;
        left: 22px;
        top: 272px;
    }

    .nat-ttl {
        position: absolute;
        width: 60px;
        height: 6px;
        left: 104px;
        top: 260px;

        font-size: 8px;
    }

    .nat-logo {
        width: 16px;
        height: 16px;
        left: 104px;
        top: 272px;
    }

    .tour-ttl {
        width: 322px;
        height: 39px;
        left: 56px;
        top: 1591px;
    }
    
    .tour-cont {
        width: 487px;
        height: 647px;
        left: calc(50% - 243.5px);
        top: 1683px;
        overflow-y: hidden;
    }
    
    .tour-inner {
        position: absolute;
        height: 100%;
        width: 745px;
        display: block;
    }
    
    .tour-card {
        width: 229px;
        height: 312px;
        margin-left: 29px;
        margin-right: 0px;
        margin-bottom: 24px;
    }

    .tour-card:nth-child(1) {
        margin-left: 0px;
    }

    .tour-card:nth-child(4) {
        margin-left: 0px;
    }

    .tour-card-line {
        height: 6px;
    }

    .tour-card-logo {
        width: 60px;
        height: 21px;
        left: calc(50% - 30px);
        top: 14px;
    }

    .tour-logo {
        width: 148px;
        height: 148px;
        left: calc(50% - 74px);
        top: 42px;
    }

    .tour-card-ttl {
        width: calc(100% - 18px);
        height: 21px;
        left: 18px;
        top: 199px;

        font-size: 16px;
    }

    .tour-card-txt {
        width: calc(100% - 36px);
        height: 67px;
        left: 18px;
        top: 222px;

        font-size: 12px;
    }

    /* about */

    .about-ttl {
        width: 203px;
        height: 40px;
        left: 56px;
        top: 2659px;
    }

    .about-txt {
        width: 459px;
        height: 135px;
        left: 56px;
        top: 2723px;
    }

    .sponsor-ttl {
        width: 132px;
        height: 39px;
        left: 56px;
        top: 2936px;
    }

    .sponsor-logo {
        width: 244px;
        height: 49px;
        left: 56px;
        top: 3000px;
    }
}

@media (max-width: 450px) {
    /* head */
    .bg {
        height: 2667px;
    }

    .bg-element {
        top: 519px;
    }

    .bg-element2 {
        top: 1516px;
    }

    .bg-head {
        height: 536px;
    }

    .teams-ovl {
        top: 536px;
    }

    /* teams */

    .team-ttl {
        width: 78px;
        height: 29px;
        left: calc(50% - 39px);
        top: 566px;
    
        font-size: 24px;
        text-align: center;
        color: #FFFFFF;
    }

    .team-list-cont-mobile {
        width: calc(100% - 48px);
        left: 24px;
        top: 625px;
        overflow-x: scroll;
    }

    .team-line {
        width: calc(100% - 48px);
        left: 24px;
        top: 674px;
    }

    .team-cont {
        width: calc(100% - 48px);
        height: 433px;
        left: 24px;
        top: 714px;
    }

    .team-inner {
        width: 100%;
    }

    .team-card {
        width: 100%;
        height: 143px;
        margin-left: 0px;
    }

    .img-cont {
        width: 144px;
        height: 100%;
        left: 0px;
    }

    .team-card-ovl {
        width: 100px;
        height: 100%;
        left: 56px;
        bottom: 0px;
        margin-left: 0px;
        background-image: linear-gradient(to right, rgb(0,0,0,0), rgba(0,0,0,1));
    }

    .team-card-black {
        width: calc(100% - 156px);
        height: 100%;
        right: 0px;
    }

    .team-card-ttl {
        width: calc(100% - 156px);
        height: 11px;
        left: 156px;
        top: 38px;
        font-size: 24px;
    }

    .team-card-aka {
        width: calc(100% - 156px);
        height: 11px;
        left: 156px;
        top: 66px;

        font-size: 14px;
    }

    .role-ttl {
        width: 30px;
        height: 15px;
        left: 156px;
        top: 97px;

        font-size: 9px;
    }

    .role-txt {
        width: 100px;
        height: 10px;
        left: 156px;
        top: 112px;

        font-size: 10px;
    }

    .nat-ttl {
        width: 82px;
        height: 15px;
        left: 228px;
        top: 97px;

        font-size: 9px;
    }

    .nat-logo {
        width: 16px;
        height: 16px;
        left: 228px;
        top: 112px;
    }

    .team-card-line {
        width: 4px;
        height: 100%;
        left: calc(100% - 4px);
    }

    /* tour */

    .tour-ttl {
        width: 241px;
        height: 29px;
        left: calc(50% - 120.5px);
        top: 1282px;

        font-size: 24px;
    }

    .tour-cont {
        width: calc(100% - 48px);
        height: 527px;
        left: 24px;
        top: 1350px;
        overflow-y: scroll;
    }

    .tour-inner {
        width: 100%;
        height: 1000px;
    }

    .tour-card {
        width: 100%;
        height: 175px;
        margin-left: 0px;
    }

    .tour-card-line {
        width: 4px;
        height: 100%;
        left: calc(100% - 4px);
    }

    .tour-card-logo {
        width: 56px;
        height: 20px;
        left: 10px;
        top: 10px;
    }

    .tour-logo {
        width: 131px;
        height: 131px;
        left: 27px;
        top: 36px;
    }

    .tour-card-ttl {
        width: calc(100% - 190px);
        height: 21px;
        left: 190px;
        top: 32px;
    }

    .tour-card-txt {
        width: calc(100% - 210px);
        height: 93px;
        left: 190px;
        top: 60px;
    }

    /* about */

    .about-ttl {
        width: 152px;
        height: 29px;
        left: calc(50% - 76px);
        top: 2081px;

        font-size: 24px;
    }

    .about-txt {
        width: calc(100% - 80px);
        height: 114px;
        left: 40px;
        top: 2124px;

        font-size: 16px;
        text-align: center;
    }

    .sponsor-ttl {
        width: 100px;
        height: 29px;
        left: calc(50% - 50px);
        top: 2326px;

        font-size: 24px;
    }

    .sponsor-logo {
        width: 194px;
        height: 39px;
        left: calc(50% - 97px);
        top: 2379px;
    }

}